{% extends "base.html" %}
 
{% block content %}
<br><br><br><br><br><br>
<div class="container">
  <div class="form-group">
    <p class="help-block"> Supported Software: CIRI2, CIRCexploer2, DCC</p>
    <label class="btn btn-primary btn-sm" for="my-file-selector">
        <input id="my-file-selector" type="file" style="display:none" 
        onchange='$("#upload-file-info").html($(this).val());'>
        Browse
    </label>
    <br>
    <label class="btn btn-primary btn-sm" for="my-file-submit">
        <input id="my-file-submit" type="submit" hidden>
        Submit
    </label>
  </div>
</div>


<section id="Tools" style="padding: 0;">
    <div class="container">
        <div class="col-lg-12 text-center">
        <canvas id="drawCirc" style="border:3px solid #fed136;">
                Please update your Browser to use this feature.
        </canvas>
        <br>
        <label class="btn btn-primary btn-sm text-center" for="draw">
                <input id="draw" style="display:none" onclick='drawCirc()'>
                Draw
        </label>
        </div>
    </div>

    <div class="col-lg-12 text-center densityTable">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Chromosome</th>
                        <th>Species</th>
                        <th>Gene Name</th>
                        <th>Gene ID</th>
                        <th>Gene Type</th>
                        <th>Density</th>
                        <th>Start</th>
                        <th>End</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>chr1</td>
                        <td>Human</td>
                        <td>CDSN</td>
                        <td>ENSG00000237114</td>
                        <td>Protein coding</td>
                        <td>98.9</td>
                        <td>98567</td>
                        <td>106789</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning">View</button>
                        </td>
                    </tr>
                    <tr>
                        <td>chr1</td>
                        <td>Human</td>
                        <td>LINC01556</td>
                        <td>ENSG00000237313</td>
                        <td>Protein coding</td>
                        <td>54.6</td>
                        <td>6598006</td>
                        <td>6834540</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning">View</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
</section>

<br><br><br><br>
{% endblock %}
 




{% block otherJS %}
        <!-- Datatable -->
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script>
                $(document).ready( function () {
                    $('#table_id').DataTable();
                } );
        </script>
{% endblock %}




