.scale-input{
    width:60%; 
    min-width: 10%;
    border: 1px solid #fed136; 
    color: black; 
    border-radius: 5px;
    display: inline-block;
}
.ui-widget-header {
    background: #fed136;
}

.inputbox {
    display: inline-block;
}

#slider-range{
    width: 500px;
    margin: auto;
}

.densityTable{
    width: 75%;
    text-align: center;
    margin: 0 auto;
}