<!DOCTYPE html>
<html>
<head>
	<title>Ajax external API</title>
	<style type="text/css">
		.user{
			display: flex;
			background: #f4f4f4;
			padding: 10px;
			margin-bottom: 10px;
		}
		.user ul{
			list-style: none;
		}

	</style>
</head>
<body>
	<button id="button">Load Github users</button>
	<br><br>
	<h1>Github Users</h1>
	<div id="users"></div>

	<script type="text/javascript">
		document.getElementById('button').addEventListener('click', loadUsers);


		// Load Github Users
		function loadUsers() {
			var xhr = new XMLHttpRequest();
			xhr.open('GET', 'https://api.github.com/users', true);

			xhr.onload = function(){
				if (this.status == 200) {
					var users = JSON.parse(this.responseText);

					output = '';
					for(var i in users) {
						output += 
							'<div class="user">' + 
							'<img src="'+ users[i].avatar_url +'" width="70" height="70">' + 
							'<ul>' +
							'<li>' + users[i].login + '</li>' +
							'<li>' + users[i].id + '</li>' +
							'</ul>'

					}

					document.getElementById('users').innerHTML = output;

				}
			}

			xhr.send();

		}

	</script>
</body>
</html>