<!DOCTYPE html>
<html>
<head>
	<title>Ajax try</title>
</head>
<body>
	<h1>Body Body Body</h1>
	<button id="button">Get text file</button>
	<br><br>
	<div id="text"></div>



	<script type="text/javascript">
		// event listener
		document.getElementById('button').addEventListener('click', loadText);

		function loadText(){
			// create XHR object
			var xhr = new XMLHttpRequest();
			// OPEN - type, url/file, asyc
			console.log(xhr);
			xhr.open('GET', 'media/sample.txt', true);

			console.log('Ready State: ', xhr.readyState);


			// OPTIONAL - used for loaders 
			// signify you are waiting something
			xhr.onprogress = function() {
				console.log('Ready State: ', xhr.readyState);
			}

			xhr.onerror = function(){
				console.log('Request Error...')
			}




			xhr.onload = function(){
				if (this.status == 200) {
					document.getElementById('text').innerHTML = this.responseText;
				} else if (this.status == 404) {
					document.getElementById('text').innerHTML = 'Not Found...';
				}
			}

			// xhr.onreadystatechange = function () {
			// 	console.log('Ready State: ', xhr.readyState);
			// 	if (xhr.readyState == 4 && this.status == 200) {
			// 		console.log(this.responseText);

			// 	}
			// }

			xhr.send();

			// readyState Values
			// 0: request not initialized 
			// 1: server connection established
			// 2: request received
			// 3: processing request
			// 4: request finished and response is ready

		}
	</script>
</body>
</html>