{% extends "base.html" %}

{% block content %}
<section id="download">
        <div class="container">
                <div class="row">
                <div class="col-12">
                    <h2 class="section-heading text-uppercase">Download</h2>
                    <h3 class="section-subheading text-muted">Stand alone programs for extending the power of circDraw service</h3>
                </div>
        </div>
<div class="row justify-content-left">
        <div style="padding-left: 15px;">
                        <a style="color:black" href="https://github.com/Mr-Milk/circDraw-py" target="_blank"><h4>CircDraw on local machine</h4></a>
                        <p>We not only provide service through web browsers, stand alone programs like python package and command line interface can also facilitate users epecially if they don't have a GUI on their server. </p>
                        <p>CircDraw stand alone python package <a href="https://pypi.org/project/circDraw/" target="_blank"><img src="https://badge.fury.io/py/circDraw.svg"></a> has two main functions: </p>
                        <ul>
                                <li> <a style="color:blue" href="https://github.com/Mr-Milk/circDraw-py#usage-draw-with-circdraw" target="_blank">Visulizing</a> circular RNA with emphasis on backsplicing sitea, internal structures and epi/genetic information.</li></br>
                                <li> Command line interface <a style="color:red; margin: 3px;" href="https://github.com/Mr-Milk/circDraw-py#usage-upload-to-circdraw-webservice" target="_blank"><code>$ circDraw-upload</code></a> for upload files to use circDraw analysis webservice. </li>
                        </ul>
                        <p><strong>Install: </strong>Following the <a href="https://github.com/Mr-Milk/circDraw-py#installation" target="_blank">instructions</a> on our <a style="color: blue;" href="https://github.com/Mr-Milk/circDraw-py" target="_blank">github</a s> repo to install these tools on your computers.</p>
                </br>
                        <h4>Data source</h4>
                        <p>Human Genome Data: <a href="https://www.gencodegenes.org/human/">Gencode</a></p>
                        <p>circRNA Data: <a href="http://202.195.183.4:8000/circrnadb/circRNADb.php">circRNADb</a> , <a href="http://www.picb.ac.cn/rnomics/circpedia/">CIRCpedia</a></p>
                        
        </div s></div>

<!--
        <div class="col-6 text-center">
                        <p>CircDraw in Javascript</p>
                        <p><i class="far fa-file-code"></i>  Developing...</p>
        </div>-->
        </div>
</section>
{% endblock %}

{% block otherJS %}
{% endblock %}