{% extends "base.html" %}

{% block content %}
<section id="download">
        <div class="container">
                <div class="row">
                <div class="col-12 text-center">
                    <h2 class="section-heading text-uppercase">Download</h2>
                    <h3 class="section-subheading text-muted">These are the resources you can download.</h3>
                </div>
        </div>
<div class="row justify-content-center">
        <div class="col-4">
                        <p>CircDraw in Python: <a href="https://pypi.org/project/circDraw/"><img src="https://badge.fury.io/py/circDraw.svg"></a></p>
                        <p>Human Genome Data: <a href="https://www.gencodegenes.org/human/">Gencode</a></p>
                        <p>circRNA Data: <a href="http://202.195.183.4:8000/circrnadb/circRNADb.php">circRNADb</a> , <a href="http://www.picb.ac.cn/rnomics/circpedia/">CIRCpedia</a></p>
                        
        </div></div>

<!--
        <div class="col-6 text-center">
                        <p>CircDraw in Javascript</p>
                        <p><i class="far fa-file-code"></i>  Developing...</p>
        </div>-->
        </div>
</section>
{% endblock %}

{% block otherJS %}
{% endblock %}