{% extends "base.html" %}

{% block content %}
<section id="download">
        <div class="container">
                <div class="row">
                <div class="col-12 text-center">
                    <h2 class="section-heading text-uppercase">Download</h2>
                    <h3 class="section-subheading text-muted">These are the resources you can download.</h3>
                </div>
        </div>
        <div class='row justify-content-center'>

        <div class="col-6 text-center">
                        <p>CircDraw in Python</p>
        </div>

        <div class="col-6 text-center">
                        <p>CircDraw in Javascript</p>
        </div>
        </div>
        </div>
</section>
{% endblock %}

{% block otherJS %}
{% endblock %}