{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="An interactive online platform for circRNA analysis, visualization and modifications annotation">
  <meta name="author" content="Milk Zheng, Jack Li">
  <meta name="keywords" content="circDraw, circRNA, circRNA visualization, RNA modifications, Sun Yat-sen University">

  <title>circDraw</title>
  <link rel="icon" href="{% static 'base/img/logo.png' %}">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
  <!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet">
  <link href="{% static 'base/css/agency.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/circCirc.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/manual.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/download.css' %}" rel="stylesheet">

</head>


<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">circDraw</a>
      <button class="navbar-toggler navbar-toggler-right" role="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'example' %}">Example</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'tools' %}">Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/diy/">Draw</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'download' %}">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'manual' %}">Manual</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'about' %}">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Sun Yat-sen University<br>School of Life Sciences</span>
        </div>
        <div class="col-md-4">
          <br>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="mailto:zhengll33@mail.sysu.edu.cn">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/Mr-Milk/circDraw">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <br>
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="{% url 'about' %}#citation">Citation</a>
            </li>
            <li class="list-inline-item">
              <a href="{% url 'about' %}#TermOfUse">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>



  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'base/js/jquery.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'base/js/jquery.easing.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'base/js/agency.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>


  {% block otherJS %} {% endblock %}
  {% block upload-script %} {% endblock %}

</body>


</html>