{% load static %}
<!DOCTYPE=html>
<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
</head>
<body>
    <form enctype="multipart/form-data" action="/display/" method="post">
    	{% csrf_token %}
        <input type="file" name="upload_file" id="upload_file" required="True" class="form-control">

        <div class="submitted" style="margin-bottom:10px;">
         	<button class="botton"> Upload </button>
    	</div> 

    </form>
    <h1>Hello Test</h1>
</body>
</html>