{% extends "base.html" %}

{% load static %}
 
{% block content %}
 
	<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>    


	<form id="uploadForm" enctype="multipart/form-data">   
		{% csrf_token %}
		<input id="file" type="file" name="file"/>
		
	</form>
	<button id="upload">上传文件</button>
	</body>
	<script type="text/javascript">    
	$(function () {        
		$("#upload").click(function () {            
			var formData = new FormData($('#uploadForm')[0]);            
			$.ajax({                
			type: 'post',                
			url: "upload&save/",                
			data: formData,                
			cache: false,                
			processData: false,                
			contentType: false,            
		}).success(function (data) {                
			alert(data.result);            
		}).error(function () {                
			alert("上传失败");            
			});        
		});    
	});
	</script>

{% endblock %}

