{% extends "base.html" %}

{% block content %}
<!-- About -->
<section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="section-heading text-uppercase" tag="citation">About</h2>
            <h3 class="section-subheading text-muted" style="margin-bottom: 35px;">The introduction of the authors and citation</h3>
            <h4>Authors</h4>
            <p> Zheng Yimin | zhengym28@mail3.sysu.edu.cn</p>
            <p> Li Tianqin | litq7@mail3.sysu.edu.cn</p>
            <h4>Supervisor</h4>
            <p> Zheng Lingling | zhengll33@mail.sysu.edu.cn</p>
            <h4>Citation</h4>

          </div>
        </div>
      </div>
    </section>

    <section id="TermOfUse">
          <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      <h2 class="section-heading text-uppercase" tag="TermOfUse">Term of Use</h2>
                      <h3 class="section-subheading text-muted" style="margin-bottom: 35px;">The introduction of labotary and citation</h3>
                      <h4>Welcome to use circDraw</h4>
                      <p>By using this website (the “Site”) and services (together with the Site, the “Services”) offered by the authors. You are agreeing to these rules.</p>
                      <h5>Intellectual property</h5>
                      <p>Every uploaded file or input information will be recorded by our site. But these information will only be temporary stored in our server. They will be deleted automatically by our server when consider invalidated. circDraw will not use any of these
                        information for any other purposes beside provide service in circDraw site.
                      </p>
                      <p>
                      <h5>Privacy</h5>
                      <p>circDraw don't use cookie to track your behavior.</p>
                      <p>circDraw records your validated input information.</p>
                      <h4></h4>
                    </div>
                  </div>
                </div>
    </section>
{% endblock %}
