{% extends "base.html" %}

{% block content %}   
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Visualization & Analysis</div>
        <div class="intro-heading">BOOTS YOUR circRNA RESEARCH</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'tools' %}">Get Start!</a>
        <div id="scrolldowntip" class="center movedown">
        <a href="#services">
        <img src="../../../static/base/img/arrows.png" class="down animated fadeInDown infinite small"></a>
        <!--<p class="down animated fadeIn infinite copyright">What is circDraw?</p>-->
      </div>
      </div>
    </div>
  </header>  
  
 
  <!-- Features -->
  <section id="services">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Features</h2>
            <h3 class="section-subheading text-muted">What makes circDRAW?</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-eye fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Visualization</h4>
            <p class="text-muted">Visualizing the circRNA formation on the whole chromosome.</p>
            </div>
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-table fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Analysis</h4>
            <p class="text-muted">Distribution of circRNA isoforms.</p>
            </div>
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fab fa-python fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Python Packages</h4>
            <p class="text-muted">We provide Python Packages for local analysis and Visualization.</p>
            </div>
        </div>
        </div>
    </section>
  {% endblock %}

