{% extends "base.html" %}

{% load static %}
 
{% block content %}
    
    <!-- No container -->

     <section id="Tools" style="margin-top: 30px;">
            <div class="container">
                <div class="col-lg-12 text-center">
                    <div id='denCanvas' class="text-center" style="display: inline-block;">
                      <h5>circRNA density distribution on chromosome</h5>
                        <div class="loader svg" id="load">
                            <img src='../../../media/dna.gif' class="dna">
                        </div>
                        <svg id="svg2" width="800" height="500" class="svg"></svg>
                        <div class="download text-center">
                            <button class="btn btn-primary btn-sm text-center" id="denDownload">Download</button>
                        </div>
                    </div>
                    <div id='circCanvas' style="display: inline-block;">
                    <h5>circRNA isoforms on chromosome region</h5>
                    <div class="Ids-ring"></div>
                    <svg id="svg" width="800" height="500" class="svg"></svg>

                    <div class="download text-center">
                        <button class="btn btn-primary btn-sm text-center" id="drawDownload">Download</button>
                    </div>
                <!-- Choose to view which chromosome -->
                    <p> Chromosome
                        <select id='chrSelector'>
                            <option>1</option>
                            <option>2</option>
                            <option>23</option>
                        </select>
                    </p>
                    <!-- End of the chromosome option -->
                    <div class="range-slider">
                        <input id="gene-selector" type="text" class="js-range-slider" value="" />
                    </div>
                    <div class="extra-controls">
                        <p class="inlineText">Start:</p>
                        <p id="js-input-from" class="inlineText">0</p>
                        <p class="inlineText">End:</p>
                        <p id="js-input-to" class="inlineText">0</p>
                    </div>
                </div>
            </div>

            <div class="container">
              <div class="col-lg-8 text-center">
              </div>
            </div>

            <br><br>

            <div class="densityTable">
                    <table id="table_id" class="display compact">
                        <thead>
                            <tr>
                                <th>Chromosome</th>
                                <th>Species</th>
                                <th>Gene Name</th>
                                <th>Gene ID</th>
                                <th>Gene Type</th>
                                <th>Density</th>
                                <th>Start</th>
                                <th>End</th>
                                <th></th>
                            </tr>
                        </thead>
                            {% for circRNA in RNAinfos %}
                            <tr>
                                <td id='tableChr'>{{ circRNA.chr }}</td>
                                <td>{{ circRNA.species }}</td>
                                <td>{{ circRNA.name }}</td>
                                <td>{{ circRNA.id }}</td>
                                <td>{{ circRNA.type }}</td>
                                <td>{{ circRNA.density }}</td>
                                <td id='tableStart'>{{ circRNA.start }}</td>
                                <td id='tableEnd'>{{ circRNA.end }}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-warning view" href='#Tools'>View</button>
                                    <div class="circWindow">
                                    <label class="x" style="position: absolute;top:2px;left: 95%;font-size: 25px;">x</label>
                                    <canvas class="circCirc"></canvas>
                                    <label class="btn btn-primary btn-sm text-center" for="circDownload">
                                    <input class="ccDownload" style="display:none">
                                    Download
                                    </label>
                                    </div>
                                    <div class="shedlayer"></div>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td id='tableChr'>chr1</td>
                                <td>Human</td>
                                <td>CDSN</td>
                                <td>ENSG00000237114</td>
                                <td>Protein coding</td>
                                <td>98.9</td>
                                <td id='tableStart'>98567</td>
                                <td id='tableEnd'>106789</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-warning view" href='#Tools'>View</button>
                                </td>
                            </tr>
                            <tr>
                                <td id='tableChr'>chr1</td>
                                <td>Human</td>
                                <td>LINC01556</td>
                                <td>ENSG00000237313</td>
                                <td>Protein coding</td>
                                <td>54.6</td>
                                <td id='tableStart'>6598006</td>
                                <td id='tableEnd'>6834540</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-warning view" href='#Tools'>View</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <div id="lenChart" style="width:1000px;height:500px"></div>
            <div id="exonChart" style="width:500px;height:500px"></div>
            <div id="isoChart" style="width:500px;height:500px"></div>
            
        </section>

        <br><br><br><br>

{% endblock %}
 

{% block otherJS %}
        {% load staticfiles %}
        {% csrf_token %}
        <!-- Outside js -->

        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts-en.common.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js" type="text/javascript"></script>

        <!-- Enbed varibles -->
      
        <!-- Custom js for this template -->
        <script src="{% static 'js/ion.rangeSlider.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/denChrPlot.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/drawCirc.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/agency.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/linechart.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/upload.js' %}" type="text/javascript"></script>


        <script>
            $(document).ready( function () {
                $('#table_id').DataTable();
            })
        </script>
{% endblock %}




