{% extends "base.html" %}

{% load static %}
 
{% block content %}
    <div class="container">
      <br><br><br><br><br>
    </div>

    <div class="container">
          <div class="form-group">
                <p class="inlineText">Which software you used to get the result file?</p>
                <select class="selectpicker inlineSelector" id="software" >
                  <option>CIRI2</option>
                </select>
                <br>
                <p class="inlineText">Which species are we dealing with?</p>
                <select class="selectpicker inlineSelector" id="species">
                  <option>Human</option>
                </select>
                <br>
                <p class="inlineText">Please set the threshold to filter your circRNA.</p><br>
                <p class="inlineText">EXP ( > 1 ): </p><input type="text" id="expvalue" class="inlineInput" value="10"><br>
                <p class="inlineText">Density ( 1 ~ 100 ): </p><input type="text" id="denvalue" class="inlineInput" value="10"></div>
                <div class="center"><div class="textarea" contenteditable="true"></div>
                <button type="button" class="btn btn-primary btn-sm" id="example">Example</button></div>
                <!--
                <form id="fileform" method="POST" action="{% url 'upload&save' %}" enctype="multipart/form-data">
                {% csrf_token %}
                -->
                <form id="fileform" enctype="multipart/form-data">
                  <label class="btn btn-primary btn-sm" for="fileupload" id="uploadlabel">
                    + Select File 
                    <input type="file" id="myfile" name="myfile" style="display:none">
                  </label>
                  
                  <label class="btn btn-primary btn-sm" for="submit" id="submitstatus">
                  Submit
                      <input type="submit" id="submit" style="display:none">
                    </label>
                    <p id="filename" style="display: inline-block"></p><span id='cancel' class='btn' style="display: inline-block">X</span>
                    
                </form>

                <p id="aftersubmit">After submitting your file, it usually takes 2-3 mins to process, thanks for your patience.</p>
                <p id="processtip"></p>
                <button class="btn btn-primary btn-sm" id="resultbutton" disabled>View Report</button>
                <!--<div class="progress col-sm-8" id="progressbar">
                    <div id='bar' class="progress-bar" role="progressbar" style="width: 0%;background:#fed136;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                  </div>-->
              </div>
        </div>

        <div class="container">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>


        <!-- Upload -->
{% endblock %}

{% block otherJS %}
    <script src="{% static 'tools/js/upload.js' %}"></script>
{% endblock %}
