{% extends "base.html" %}

{% load static %}
 
{% block content %}
    
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script> 

    <div class="container">
          <div class="form-group">
                <p class="help-block"> Supported Software: CIRI2, CIRCexploer2, DCC</p>
                <form id="fileform" method="POST" action="{% url 'test_display' %}" enctype="multipart/form-data">
                {% csrf_token %}
                  <label class="btn btn-primary btn-sm" for="fileupload">
                    + Select File 
                    <input type="file" id="myfile" name="myfile"><!-- style="display:none" -->
                  </label>
                  
                  <label class="btn btn-primary btn-sm" for="submit">
                      Submit
                      <input type="submit" id="submit" style="display:none">
                    </label>
                </form>
                <div class="progress col-sm-8">
                    <div id='bar' class="progress-bar" role="progressbar" style="width: 0%;background:#fed136;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                  </div>
              </div>
        </div>

        <!-- Upload -->
{% endblock %}
