{% extends 'base.html' %}
{% block content %}
<section id="wait">
        <div class="container">
                <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Still processing! Please be patient!</h2>
                    <p class="section-subheading text-muted" id="tips"> </p>
                    <h3 class="section-subheading text-muted">You can refresh page to check if it's ready. <a id="refresher" onclick="location.reload()"><i class="fas fa-redo-alt ml-1"></i></a></h3>
                </div>
        </div>
        </div>
</section>

{% endblock %}

{% block upload-script %}
<script>
var url = $(location).attr('href').split("/"),
    caseID = url[url.length - 1].split("#")[0];

setInterval(function(){
        $.getJSON("/tools/statusfile/", {'caseid': caseID}).done(
        function(status){
                console.log(status)
                if (status[0].status === 202){
                        var now = Math.round(new Date().getTime() / 1000),
                            sec = now - Math.round(status[0].time);
                        console.log(sec)
                        if (sec < 60) {
                                var display_time = sec + 's';
                        }
                        if (sec >= 60) {
                                var display_time = Math.floor(sec/60) + 'm' + sec % 60 + 's';
                        }
                        $("#tips").text("Already processing " + display_time);
                } else if (status[0].status === 200) {
                        location.reload();
                }
        }
);
}, 10000);

</script>
{% endblock %}