argh==0.26.2
Django==2.1.4
django-annoying==0.10.4
ijson==2.3
intervaltree==3.0.2
mysql-connector-python==8.0.13
numpy==1.15.4
pathtools==0.1.2
pathtools3==0.2.1
protobuf==3.6.1
PyMySQL==0.9.3
pyobjc-core==5.1.2
pyobjc-framework-Cocoa==5.1.2
pyobjc-framework-FSEvents==5.1.2
pytz==2018.7
PyYAML==5.1
six==1.12.0
sortedcontainers==2.1.0
ujson==1.35
uWSGI==2.0.17.1
watchdog3==0.8.5
